# Data folders
data/raw/*
data/processed/*

# Allow README files in data folders
!data/raw/README.md
!data/processed/README.md

# CSV and Parquet files
*.csv
*.parquet

# Jupyter checkpoints
.ipynb_checkpoints/

# OS / editor noise
.DS_Store
Thumbs.db
